body{
    background-color: rgb(155, 214, 214);
}
#main, #img{
    border-radius: 9px;
}
img{
    padding:10px;
}
#main{
    width: clamp(300px, 25%, 26%);
}
*{
    box-sizing: border-box;
}